<!-- simple pagination -->
<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}"> &laquo; Previous</a>
        {% endif %}

        <span class="current">
            [ Page {{ articles.number }} of {{ articles.paginator.num_pages }} ]
        </span>

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">Next &raquo; </a>
        {% endif %}
    </span>
</div>

<!-- count number pagination -->
<div class="pagination">
   {% if articles.has_previous %}
      <span class="page">
      <a href="?page={{ articles.previous_page_number }}">&laquo; Prev</a>
      </span>
   {% endif %}
   {% if show_first %}
      <span class="page"><a href="?page=1">1</a></span>
      <span class="ellipsis">...</span>
   {% endif %}
   {% for linkpage in articles.paginator.page_range %}
      {% ifequal linkpage articles.number %}
         <span class="current">{{ articles.number }}</span>
      {% else %}
         <span class="page"><a href="?page={{ linkpage }}">{{ linkpage }}</a></span>
      {% endifequal %}
   {% endfor %}
   {% if show_last %}
      <span class="ellipsis">...</span>
      <span class="page"><a href="?page=last">{{ articles.paginator.num_pages }}</a></span>
   {% endif %}
   {% if articles.has_next %}
      <span class="page"><a href="?page={{ articles.next_page_number }}">Next &raquo;</a></span>
   {% endif %}
</div>


<!-- adding with bootstrap class pagination -->
<ul class="pagination">
  <li {% if not articles.has_previous %}class="disabled"{% endif %}>
     <a {% if articles.has_previous %}href="?page={{ articles.previous_page_number }}" aria-label="Previous" {% endif %}><span aria-hidden="true">«</span></a>
   </li>
  {% if articles.show_first %}
    <li><a href="?page=1">1</a></li>
    <li><a href="#">...</a></li>
  {% endif %}
  {% for linkpage in articles.paginator.page_range %}
      {% ifequal linkpage articles.number %}
         <li class="active">
           <a href="#">{{ articles.number }}<span class="sr-only">(current)</span></a>
         </li>
      {% else %}
         <li><a href="?page={{ linkpage }}">{{ linkpage }}</a></li>
      {% endifequal %}
  {% endfor %}
  {% if articles.show_last %}
     <li><a href="#">...</a></li>
     <li><a href="?page=last">{{ articles.paginator.num_pages }}</a></li>
  {% endif %}
  <li {% if not articles.has_next %}class="disabled"{% endif %}>
     <a {% if articles.has_next %}href="?page={{ articles.next_page_number }}" aria-label="Next" {% endif %}><span aria-hidden="true">»</span></a>
   </li>
</ul>


<!--- slicing page number -->
http://stackoverflow.com/a/30864681
<!-- Solved -->
<ul class="pagination">
  <li {% if not articles.has_previous %}class="disabled"{% endif %}>
     <a {% if articles.has_previous %}href="?page={{ articles.previous_page_number }}" aria-label="Previous" {% endif %}><span aria-hidden="true">«</span></a>
   </li>
   <li><a href="?page=1">First</a></li>
  {% for linkpage in page_range %}
      {% ifequal linkpage articles.number %}
         <li class="active">
           <a href="#">{{ articles.number }}<span class="sr-only">(current)</span></a>
         </li>
      {% else %}
         <li><a href="?page={{ linkpage }}">{{ linkpage }}</a></li>
      {% endifequal %}
  {% endfor %}
  <li><a href="?page={{ articles.paginator.num_pages }}">Last</a></li>
  <li {% if not articles.has_next %}class="disabled"{% endif %}>
     <a {% if articles.has_next %}href="?page={{ articles.next_page_number }}" aria-label="Next" {% endif %}><span aria-hidden="true">»</span></a>
   </li>
</ul>

#views
def displayAllArticlesUnderTage(request, tag_slug):
    #Entry.objects.filter(~Q(id=1))
    t = loader.get_template('all_tags.html')
    tag = Tag.objects.get(slug = tag_slug)
    articles = Entry.objects.filter(tags = tag.id)
    paginator = Paginator(articles, 1) #show 10 articles per page
    page = request.GET.get('page')
    try:
        articles_list = paginator.page(page)
    except PageNotAnInteger:
        articles_list = paginator.page(1)
    except EmptyPage:
        articles_list = paginator.page(paginator.num_pages)
    index = articles_list.number - 1
    limit = 3 #limit for show range left and right of number pages
    max_index = len(paginator.page_range)
    start_index = index - limit if index >= limit else 0
    end_index = index + limit if index <= max_index - limit else max_index
    page_range = paginator.page_range[start_index:end_index]

    c = Context({ "articles" : articles_list, "tag_slug" : tag_slug, 'page_range': page_range,})
    return HttpResponse(t.render(c))
